:root {
  --accent-color: #C08497;
  --lighter-accent: #B0D0D3;
  --bg-color: #FFFFFF;
}

body {
  background-color: var(--bg-color);
  font-family: Helvetica, Arial, sans-serif;
}

p {
  max-width: 600px;
  margin: 0 auto;
/*   border: 1px dashed; */

  font-weight: 100;
  text-align: left;
}

h1 {
  margin: 0 auto;

/*   border: 1px dashed; */

  text-align: left;
  max-width: 600px;
  font-weight: 500px;
  font-size: 20px;
  color: var(--lighter-accent);
}

small {
  font-size: 12px;
}

img{
  display: block;
  margin: 0 auto;
}

h2{
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  font-weight: 900;
  font-size: 48px;
  font-style: italic;
  color: var(--accent-color);
}


#main-title {
/*   border: 1px dashed; */
  font-size: 96px;
}
